@import url('https://use.typekit.net/kis6ina.css');

@tailwind base;

html {
    font-size: 18px;
}

body {
    @apply font-sans;
    @apply text-xl;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
    @apply font-bold;
    @apply mb-4;
    @apply mt-12;
    @apply leading-none;
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-4xl;
}

h4 {
    @apply text-3xl;
}

h5 {
    @apply text-2xl;
}

h6 {
    @apply text-xl;
}

p {
    @apply mb-8;
}

pre {
    @apply bg-gray;
    @apply p-4;
    @apply mb-8;
    @apply rounded-md;
    @apply text-sm;
    @apply bg-opacity-50;
}

a,
button {
    @apply bg-transparent;
    @apply cursor-pointer;
    @apply duration-300;
    @apply relative;
    @apply z-0;
}

a:before,
button:before {
    content: "";
    height: 5px;
    transition: height ease 300ms;
    z-index: -1;
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    @apply rounded-md;
}

a:hover:before,
button:hover:before,
a:focus:before,
button:focus:before {
    height: 40%;
}

.bg-monday, .monday a:before, .monday button:before, main .monday a:before, main .monday button:before {
    @apply bg-blue;
}

.bg-tuesday, .tuesday a:before, .tuesday button:before, main .tuesday a:before, main .tuesday button:before {
    @apply bg-red;
}

.bg-wednesday, .wednesday a:before, .wednesday button:before, main .wednesday a:before, main .wednesday button:before {
    @apply bg-purple;
}

.bg-thursday, .thursday a:before, .thursday button:before, main .thursday a:before, main .thursday button:before {
    @apply bg-orange;
}

.bg-friday, .friday a:before, .friday button:before, main .friday a:before, main .friday button:before {
    @apply bg-green;
}

.bg-saturday, .saturday a:before, .saturday button:before, main .saturday a:before, main .saturday button:before {
    @apply bg-yellow;
}

.bg-sunday, .sunday a:before, .sunday button:before, main .sunday a:before, main .sunday button:before {
    @apply bg-gray;
}

.sponsor a:before, .sponsor button:before {
    @apply bg-white;
}

#social-nav {
    transform: translate(100%,0)
}

#social-nav.active {
    transform: translate(0,0)
}

@tailwind components;
@tailwind utilities;