@tailwind base;

html {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
    @apply font-black;
    @apply mb-4;
    @apply mt-6;
    @apply leading-tight;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

h5 {
    @apply text-base;
}

h6 {
    @apply text-sm;
}

p {
    @apply mb-4;
}

hr {
    @apply border-gray;
    @apply my-8;
}

p > code {
    @apply bg-gray;
    @apply text-lg;
    @apply px-2;
    @apply py-1;
    @apply bg-opacity-50;
    @apply rounded-md;
}

pre {
    @apply bg-gray;
    @apply p-4;
    @apply mb-8;
    @apply rounded-md;
    @apply text-sm;
    @apply bg-opacity-50;
}

a,
button {
    @apply bg-transparent;
    @apply cursor-pointer;
    @apply relative;
    @apply z-0;
    transition: box-shadow ease .3s;
}

input {
    @apply border;
    @apply border-solid;
    @apply border-gray;
    @apply rounded;
    @apply p-2;
    @apply mx-4;
    @apply w-full;
    @apply bg-gray;
    @apply bg-opacity-25;
}

input:focus {
    @apply bg-opacity-0;
}

input + button {
    @apply font-bold;
    @apply uppercase;
}

.monday a, .monday button, main .monday a, main .monday button, header[role="banner"] .monday a, header[role="banner"] .monday button {
    box-shadow: inset 0 -.15em 0 theme('colors.blue');
}

.monday a:hover, .monday button:hover, main .monday a:hover, main .monday button:hover, header[role="banner"] .monday a:hover, header[role="banner"] .monday button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.blue');
}

.bg-monday {
    @apply bg-blue;
}

.tuesday a, .tuesday button, main .tuesday a, main .tuesday button, header[role="banner"] .tuesday a, header[role="banner"] .tuesday button {
    box-shadow: inset 0 -.15em 0 theme('colors.red');
}

.tuesday a:hover, .tuesday button:hover, main .tuesday a:hover, main .tuesday button:hover, header[role="banner"] .tuesday a:hover, header[role="banner"] .tuesday button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.red');
}

.bg-tuesday {
    @apply bg-red;
}

.wednesday a, .wednesday button, main .wednesday a, main .wednesday button, header[role="banner"] .wednesday a, header[role="banner"] .wednesday button {
    box-shadow: inset 0 -.15em 0 theme('colors.purple');
}

.wednesday a:hover, .wednesday button:hover, main .wednesday a:hover, main .wednesday button:hover, header[role="banner"] .wednesday a:hover, header[role="banner"] .wednesday button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.purple');
}

.bg-wednesday {
    @apply bg-purple;
}

.thursday a, .thursday button, main .thursday a, main .thursday button, header[role="banner"] .thursday a, header[role="banner"] .thursday button {
    box-shadow: inset 0 -.15em 0 theme('colors.orange');
}

.thursday a:hover, .thursday button:hover, main .thursday a:hover, main .thursday button:hover, header[role="banner"] .thursday a:hover, header[role="banner"] .thursday button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.orange');
}

.bg-thursday {
    @apply bg-orange;
}

.friday a, .friday button, main .friday a, main .friday button, header[role="banner"] .friday a, header[role="banner"] .friday button {
    box-shadow: inset 0 -.15em 0 theme('colors.green');
}

.friday a:hover, .friday button:hover, main .friday a:hover, main .friday button:hover, header[role="banner"] .friday a:hover, header[role="banner"] .friday button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.green');
}

.bg-friday {
    @apply bg-green;
}

.saturday a, .saturday button, main .saturday a, main .saturday button, header[role="banner"] .saturday a, header[role="banner"] .saturday button {
    box-shadow: inset 0 -.15em 0 theme('colors.yellow');
}

.saturday a:hover, .saturday button:hover, main .saturday a:hover, main .saturday button:hover, header[role="banner"] .saturday a:hover, header[role="banner"] .saturday button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.yellow');
}

.bg-saturday {
    @apply bg-yellow;
}

.sunday a, .sunday button, main .sunday a, main .sunday button, header[role="banner"] .sunday a, header[role="banner"] .sunday button {
    box-shadow: inset 0 -.15em 0 theme('colors.gray');
}

.sunday a:hover, .sunday button:hover, main .sunday a:hover, main .sunday button:hover, header[role="banner"] .sunday a:hover, header[role="banner"] .sunday button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.gray');
}

.bg-sunday {
    @apply bg-gray;
}

header[role="banner"] a, header[role="banner"] button, .sponsor a, .sponsor button {
    box-shadow: inset 0 -.15em 0 theme('colors.white');
}

header[role="banner"] a:hover, header[role="banner"] button:hover, .sponsor a:hover, .sponsor button:hover {
    box-shadow: inset 0 -.4em 0 theme('colors.white');
}

#assets img {
    max-width: 300px;
    height: auto;
    @apply w-full;
    @apply mx-auto;
    @apply my-4;
}

.asset-container > div {
    position: absolute;
    left: -999%;
}

#assets h2 {
    @apply my-6;
    @apply text-2xl;
    hyphens: none;
}

#podcast-episode {
    height: 98px;
}

@media screen and (min-width: 640px) {
    #assets img {
        @apply mx-4;
    }
}

@media screen and (min-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        @apply mt-10;
    }

    h1 {
        @apply text-5xl;
    }
    
    h2 {
        @apply text-4xl;
    }
    
    h3 {
        @apply text-3xl;
    }
    
    h4 {
        @apply text-2xl;
    }
    
    h5 {
        @apply text-xl;
    }
    
    h6 {
        @apply text-lg;
    }

    p {
        @apply mb-8;
    }
}

@media screen and (min-width: 865px) {
    #podcast-episode {
        height: 161px;
    }
}

@media print {
    a {
        @apply shadow-none !important;
        @apply underline;
    }
}

@tailwind components;
@tailwind utilities;